---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import SpotifyNowPlaying from '../components/SpotifyNowPlaying.astro';
---

<Layout title="Nerozhen | Portfolio">
  <div class="main-grid">
    <div class="status-widgets">
      <SpotifyNowPlaying />
    </div>
    <Card />
  </div>
</Layout>

<style>
  .main-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .status-widgets {
      width: 100%;
      max-width: 450px;
  }
</style>
